<div class="container">
    <div class="row">
       
        <div class="col">
            <h1 class="display-1" style="text-align: center;">GitHub Search</h1>
            <br><br>
            <form style="text-align:center">
                <input type="text" class="form-control" id="username" placeholder="Enter GitHub Username">
                <br>
                <br>
                <button type="submit" class="btn btn-success"> Search User on GitHub</button>
            </form>
        </div>   
       
    </div>
</div>