<div class="container" style="background-color: #fef9f8;">
    <div class="row">
       
        <div class="col">
            <h1 class="display-1" style="text-align: center; color: #0d0d0d; font-family: 'Yellowtail',cursive;">GitHub Search</h1>
            <p style="text-align: center; color: #0d0d0d; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Search a GitHub user through this App!</p>
            <br><br>
            <form (ngSubmit)='submitUsername()' #gitsearchForm='ngForm' name="gitsearchForm" style="text-align:center; font-family: 'Open Sans', sans-serif;">
                <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username" placeholder="Enter GitHub Username">
                <div [hidden] ="username.valid || name.pristine" class="alert alert-danger">
                    <p>Username is required for search</p>
                </div>
                <br>
                <button type="submit" class="btn"> Search User on GitHub</button>
            </form>
        </div>   
       
    </div>
</div>